.star-rating {
	font-size: 20px;
	unicode-bidi: bidi-override;
	direction: rtl;
}

.star-rating > span.star {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.star-rating > span.star.active::before {
	color: #e3cf7a;
	content: "\f005";
}

.star-rating > span.star.half::before {
	content: "\f123";
}

.star-rating > span.star::before {
	color: #777777;
	content: "\f006";
	padding-right: 5px;
}

.star-rating.active span.star:hover {
	cursor: pointer;
	pointer-events: auto;
}

.star-rating.disabled span.star {
	pointer-events: none;
}

.star-rating.disabled span.star:hover {
	cursor: not-allowed;
}

.star-rating.active > span.star:hover:before, .star-rating.active > span.star:hover ~ span:before{
	color: #e3cf7a;
	content: "\f005";
}