<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<section layout:fragment="content">

	<div class="row text-center">
		<h1 class="col-sm-12">
			Welcome to ShareStudentNotes.
			The Knowledge Sanctuary.
		</h1>
	</div>
	<div class="row top25">
			<img class="col-sm-4 col-md-offset-2 img-rounded valign-center" 
				src="../resources/static/img/trinity-inner.jpg"
				th:attr="src=@{/img/trinity-inner.jpg}, 
					title='The Library of Trinity College Dublin',
					alt ='The Library of Trinity College Dublin'" />
			<blockquote class="col-sm-4 valign-center">
				<p>Share your knowledge.</p>
				<p>It's a way to achieve immortality.</p>
				<small>Dalai Lama</small>
			</blockquote>
	</div>
	<div class="row top25">
		<div class="col-sm-12 well bs-component">
			<form class="form-horizontal" th:action="@{/universities/display}"
				th:object="${university}" method="post">
				<fieldset>
					<legend>Select Your University.</legend>
		
					<div class="form-group">
						<div class="col-lg-12">
							<select class="form-control" th:field="*{code}">
								<option th:each="uni : ${universities}" 
										th:value="${uni.code}" 
										th:text="${uni.description}" >Tei of Athens</option>
							</select>
						</div>
					</div>
		
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

</html>
