<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layouts/layout">

<head>
	<title>ShareNotes Login</title>
</head>

<section layout:fragment="content">
	<h1>Login</h1>
	<div th:fragment="loginForm">
		<div class="well bs-component">
<!-- 			th:action="@{/login}" -->
<!-- 			th:object="${loginInfo}"  -->
			<form class="form-horizontal"
				th:action="@{/login?prevUri=__${#httpServletRequest.requestURI}__}"
				method="post">
				<fieldset>
					<legend>User Info</legend>

					<div th:if="${loginError}">
						<p th:each="err : ${loginError}" th:text="${err}">...</p>
					</div>
					
					<p th:if="${param.error}">Wrong user or password</p>

					<div class="form-group">
						<label for="username" class="col-lg-2 control-label"> Login </label>
						<div class="col-lg-10">
							<input id="username" class="form-control" type="text" name="username" 
								placeholder="Petros" />
						</div>
					</div>

					<div class="form-group">
						<label for="password" class="col-lg-2 control-label"> Password </label>
						<div class="col-lg-10">
							<input id="password" class="form-control" type="password" name="password"
								placeholder="$013456789$" />
						</div>
					</div>

<!-- 					<input id="csrf" type="hidden" th:name="${_csrf.parameterName}" -->
<!-- 					th:value="${_csrf.token}" /> -->

					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</section>

</html>