<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
    	<h1> Note Page </h1>
        <div th:if="${param.error}">
            Invalid kati.
        </div>
        <form th:action="@{/notes}" th:object="${note}" method="post">
	        <div th:if="${#fields.hasAnyErrors()}">
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
			</div>
			<div><label> Short Desc : 	<input type="text" th:field="*{description}" th:errorclass="fieldError"/> </label></div>
            <div><label> Long Desc : <input type="text" th:field="*{longDesc}" th:errorclass="fieldError"/> </label></div>
			<div><label> Rating : </label>
		        <select name="rating-selector">
					<option
						th:each="rating : ${T(com.ftl.notebook.model.note.RatingEnum).values()}"
						th:value="*{rating}" th:text="${{rating}}">
<!-- 						th:value="*{rating}" th:text="#{__${rating.value}__}"> -->
<!-- 						th:selected="${color == T(com.florentlim.blog.ColorEnum).NOCOLOR}"></option> -->
					</option>
				</select>
			</div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>	
</html>