<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>ShareNotes Login</title>
</head>

<section layout:fragment="content">
	<h1>Register</h1>
	<div class="well bs-component">
		<form class="form-horizontal" th:action="@{/register}"
			th:object="${registerInfo}" method="post">
			<fieldset>
				<legend>User Info</legend>
	
				<div class="alert alert-dismissible alert-danger"
					th:if="${#fields.hasAnyErrors()}">
					<strong>Error!</strong>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
				</div>
	
				<div class="form-group"
					th:classappend="${#fields.hasErrors('login')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Login </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{login}" th:errorclass="has-error"
							placeholder="Petros" />
					</div>
				</div>
	
				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Password </label>
					<div class="col-lg-10">
						<input class="form-control" type="password" th:field="*{password}"
							th:errorclass="has-error" placeholder="$013456789$" />
					</div>
				</div>
	
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Email </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{email}" th:errorclass="has-error"
							placeholder="petros@gmail.com" />
					</div>
				</div>
	
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</section>
</html>