<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
	<title>Add Department</title>
</head>

<section layout:fragment="content">
	<h3>Add Department</h3>

	<div class="well bs-component">
		<form class="form-horizontal" th:fragment="departmentForm"
			th:action="@{add}" th:object="${department}" method="post">
			<fieldset>
				<legend>Department Info</legend>

				<div class="alert alert-dismissible alert-danger"
					th:if="${#fields.hasAnyErrors()}">
					<strong>Error!</strong>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label"> University </label>
					<div class="col-lg-10">
						<label class="form-control" th:text="*{university}"></label>
						<input type="hidden" th:field="*{university}" th:value="*{university}"/>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Description </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{description}"
							th:errorclass="has-error" placeholder="Description" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Code </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{code}" th:errorclass="has-error"
							placeholder="Code" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('webPage')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Web Page </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{webPage}" th:errorclass="has-error"
							placeholder="Web Page" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</section>
</html>