<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:fragment="departments">
	<table th:unless="${#lists.isEmpty(departments)}">
		<thead>
			<tr>
				<th>Id</th>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dept : ${departments}" th:object="${dept}">
				<td th:text="*{id}">1</td>
				<td th:text="*{code}">1</td>
				<td>
					<a th:href="@{{universityCode}/departments/{deptCode}(deptCode=*{code},universityCode=*{university.code})}" th:text="*{description}">Pliroforiki</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a href="/departments/add" th:href="@{{universityCode}/departments/add(universityCode=${university.code})}">Add a department.</a>
	</div>
</div>

</html>