<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	
<head>
	<title th:text="${department.description}">Department</title>
</head>

<section layout:fragment="content" th:object="${department}">
	<h1>Department</h1>

	<div>
		<label> Description : </label><label th:text="*{description}"></label>
	</div>
	<div>
		<label> Code : </label><label th:text="*{code}"></label>
	</div>
	
	<h2>Courses</h2>
	<section th:replace="courses/displayList :: courses">Courses courses courses..</section>
</section>

</html>