<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>Universities</title>
</head>

<section layout:fragment="content">

	<h3>Add University</h3>

	<div class="well bs-component">
		<form id="universityForm" class="form-horizontal"
			th:fragment="universityForm" th:object="${university}" method="post">

			<fieldset>
				<legend>University Info</legend>

				<div class="alert alert-dismissible alert-danger"
					th:if="${#fields.hasAnyErrors()}">
					<strong>Error!</strong>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Description </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{description}"
							th:errorclass="has-error" placeholder="Description" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Code </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{code}"
							th:errorclass="has-error" placeholder="Code" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('webPage')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Web Page </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{webPage}"
							th:errorclass="has-error" placeholder="Web Page" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>

				<!-- 		<input type="hidden" name="_eventId" value="validate" /> -->
				<input id="csrf" type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</fieldset>
		</form>
	</div>
</section>

</html>