<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	
<head>
	<title>Universities</title>
</head>

	<section layout:fragment="content" >
	<h1>Universities</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="university : ${universities}" th:object="${university}">
				<td th:text="*{id}">1</td>
				<td th:text="*{code}">1</td>
				<td>
					<a th:href="@{/universities/{universityCode}(universityCode=*{code})}" th:text="*{description}">Tei of Athens</a>
				</td>
				<td>
					<a th:href="@{/universities/remove/{universityId}(universityId=*{id})}">Remove!</a>
				</td>
			</tr>
		</tbody>
	</table>
<!-- 	<div th:replace="/universities/addForm">University Form</div> -->
	<a href="/universities/add" th:href="@{/universities/add}">Add a university.</a>
	</section>
</html>