<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	
<head>
	<title th:text="${university.description}">University</title>
</head>

<section layout:fragment="content" th:object="${university}">
	<h1>University</h1>

	<div>
		<label> Description : </label><label th:text="*{description}"></label>
	</div>
	<div>
		<label> Code : </label><label th:text="*{code}"></label>
	</div>
	
	<h2>Departments</h2>
	<section th:replace="departments/displayList :: departments">Departments</section>
</section>
	
</html>