<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>Add Course</title>
</head>

<section layout:fragment="content">
	<h1>Add Course</h1>

	<div class="well bs-component">
		<form class="form-horizontal" th:fragment="courseForm"
			th:action="@{add}" th:object="${course}" method="post">
			<fieldset>
				<legend>Course Info</legend>

				<div class="alert alert-dismissible alert-danger"
					th:if="${#fields.hasAnyErrors()}">
					<strong>Error!</strong>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label"> University </label>
					<div class="col-lg-10">
						<label class="form-control" th:text="*{department.university}"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label"> Department </label>
					<div class="col-lg-10">
						<label class="form-control" th:text="*{department}"></label>
						<input type="hidden" th:field="*{department}" th:value="*{department}"/>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Description </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{description}"
							th:errorclass="has-error" placeholder="Description" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('code')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Code </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{code}"
							th:errorclass="has-error" placeholder="Code" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</section>
</html>