<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<div th:fragment="courses">
	<table th:unless="${#lists.isEmpty(courses)}">
		<thead>
			<tr>
				<th>Id</th>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}" th:object="${course}">
				<td th:text="*{id}">1</td>
				<td th:text="*{code}">1</td>
				<td>
					<a th:href="@{{deptCode}/courses/{courseCode}(courseCode=*{code}, deptCode=*{department.code})}" th:text="*{description}">John</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a href="/courses/add" th:href="@{{deptCode}/courses/add(deptCode=${department.code})}">Add a course.</a>
	</div>
</div>

</html>