<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
	
<head>
	<title th:text="${course.description}">Department</title>
	
	<link th:href="@{/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/star-rating.js}" type="text/javascript"></script>
</head>

<section layout:fragment="content" th:object="${course}">
	<h1>Course</h1>

	<div>
		<label> Description : </label><label th:text="*{description}"></label>
	</div>
	<div>
		<label> Code : </label><label th:text="*{code}"></label>
	</div>
	<div>
		<label> University : </label><label th:text="*{department.university}"></label>
	</div>
	<div>
		<label> Department : </label><label th:text="*{department}"></label>
	</div>
	
	<h2>Notes</h2>
	<section th:replace="notes/displayList :: notes">.Notes, notes notes..</section>
</section>
</html>