<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
		
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- /*	http://blog.eyallupu.com/2012/04/csrf-defense-in-spring-mvc-31.html */ -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- /* default header name is X-CSRF-TOKEN */ -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<title>Notebook Layout</title>
	
	<link th:href="@{/css/notebook.css}" rel="stylesheet" href ="/css/notebook.css"/>
	<link th:href="@{/css/bootstrap-cerulean.css}" rel="stylesheet" href ="/css/bootstrap-cerulean.css"/>
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}"/>
	
	<!--/* Ensure that jQuery import comes before Bootstrap. */-->
	<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-alpha/js/bootstrap.js}" type="text/javascript"></script>
	<!--/*-->
	<!-- Public CDN via jsDelivr -->
<!-- 	<script th:src="@{//cdn.jsdelivr.net//webjars/bootstrap/4.0.0-alpha/js/bootstrap.js}" type="text/javascript"></script> -->
	<!--*/-->
	<script th:src="@{/js/ajax.js}" type="text/javascript"></script>
	
</head>

<body>
	
	<header th:replace="fragments/header">
		Amazing Header Incoming...
	</header>

	<section class="container" layout:fragment="content">
		Amazing Content Incoming;
	</section>

	<footer th:replace="fragments/footer">
		Amazing Footer Incoming...
	</footer>
</body>

</html>