<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div id="commentAddFormContainer" th:fragment="commentForm" class="well bs-component">
	<form id="commentAddForm" class="form-horizontal"
		th:object="${comment}" method="post">
		<fieldset>
			<legend>Add Comment</legend>

			<div class="alert alert-dismissible alert-danger"
				th:if="${#fields.hasAnyErrors()}">
				<strong>Error!</strong>
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
			</div>
			
			<div class="form-group"
				th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
				<label class="col-lg-2 control-label"> Description </label>
				<div class="col-lg-10">
					<input class="form-control" type="text" th:field="*{description}"
						th:errorclass="has-error" placeholder="Description" />
				</div>
			</div>

			<input type="hidden" th:field="*{note}" th:value="*{note}"/>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

</html>