<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:dt="http://github.com/dandelion/datatables"
	layout:decorator="layouts/layout">
	
<head>
	<title>Courses</title>
</head>

<section layout:fragment="content">
	
	<div id="comments" th:fragment="comments">
		<div id ="commentFormContainer">
			<div sec:authorize="isAnonymous()">Γειά σας! Please login to comment</div>

			<div sec:authorize="hasRole('ROLE_USER')">
				<!--/* This content is only shown to users. */-->
				<div th:replace="comments/addForm :: commentForm"></div>
			</div>
		</div>
		<div id="commentListContainer"  th:fragment="commentList">
			<ul th:if="${pagewrapper.hasContent()}">
				<li th:each="comment : ${pagewrapper.content}">
					<form th:fragment="commentItem" th:id="'commentForm' + *{id}" th:object="${comment}">
	
						<fieldset>
							<div th:text="*{description}">A Great Course Indeed.</div>
							<div th:text="*{createdBy}">Petros</div>
							<div th:text="${#temporals.format(comment.createdDate, 'dd/MMM/yyyy HH:mm')}">12/10/2015 2:29</div>
							<button th:if="${user} ? *{createdBy.login} == ${user.login}"
								formmethod="delete" type="submit">Delete</button>
						</fieldset>
					</form>
				</li>
			</ul>
			<div th:replace="fragments/paginationbar :: paginationbar"></div>
		</div>
<!--/*-->

<!--  dt:pipelining="true" dt:pipesize="3" -->
<!-- 		<table id="commentsTable" dt:theme="bootstrap3" class="table table-striped"  -->
<!-- 			dt:table="true"  -->
<!-- 			dt:url="@{/comments}" dt:serverside="true" -->
<!-- 			dt:pagingType="full_numbers" -->
<!-- 			dt:pipelining="true" dt:pipesize="3" -->
<!-- 			dt:deferLoading="10"> -->
			
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th dt:property="description">Id</th> -->
<!-- 					<th dt:property="createdBy">Firstname</th> -->
<!-- 					<th dt:property="createdDate">Lastname</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr th:each="comment : ${comments}" th:object="${comment}"> -->
<!-- 					<td th:text="*{description}">A Great Course Indeed.</td> -->
<!-- 					<td th:text="*{createdBy}">Petros</td> -->
<!-- 					<td th:text="*{createdDate}">12/10/2015 2:29</td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->

<!--*/-->
	</div>
	
</section>
</html>