<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:th="http://www.thymeleaf.org">
		
<nav class="navbar navbar-inverse" th:fragment="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" th:href="@{/home}">ShareStudentNotes</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
      	<li th:each="page : ${menu}" th:object="${page}">
			<a th:href="@{*{uri}}" th:text="*{descr}"></a>
		</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
<!--/*        <li th:unless="${user.login}"> */-->
		<li sec:authorize="isAnonymous()">
        	<a href="#" data-toggle="modal" data-target="#loginModal"
        		th:text="'Login'">
        	</a>
        </li>
        
        <li sec:authorize="hasRole('ROLE_USER')">
        	<a th:href="@{/users/{login}(login=${user.login})}" th:text="${user.login}">
        	</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</html>
