<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<!-- Pagination Bar -->
<div th:fragment='paginationbar' th:object="${pagewrapper}">
    <ul class='pagination pagination-centered' >
      <li th:class="*{isFirst()} ? 'disabled'">
        <span th:if='*{isFirst()}'>← First</span>
        <a id="paginationFirst" th:unless='*{isFirst()}' href="#" title='Go to first page'>← First</a>
      </li>
      <li th:class="not *{hasPrevious()} ? 'disabled'">
        <span th:unless='*{hasPrevious()}'>«</span>
        <a id="paginationPrev" th:if='*{hasPrevious()}' href="#" title='Go to previous page'>«</a>
      </li>
      <li th:class='active'>
        <span th:text='*{getNumber() + 1}'>1</span>
<!--         <a th:if='${not item.current}' th:href='@{*{url}(page=${item.number}, size=${page.size})}'><span th:text='${item.number}'>1</span></a> -->
      </li>
      <li th:class="not *{hasNext()} ? 'disabled'">
        <span th:unless='*{hasNext()}'>»</span>
        <a id="paginationNext" th:if='*{hasNext()}' href="#" title='Go to next page'>»</a>
      </li>
      <li th:class="*{isLast()} ? 'disabled'">
        <span th:if='*{isLast()}'>Last →</span>
        <a id="paginationLast" th:unless='*{isLast()}' href="#" title='Go to last page'>Last →</a>
      </li>
      	
    </ul>
    
   	<script th:inline="javascript">
		/*<![CDATA[*/
		           
	    var firstUrl = /*[[@{*{url}(page = 0, size = *{size})}]]*/;
	    var prevUrl = /*[[@{*{url}(page = *{number - 1}, size = *{size})}]]*/;
	    var nextUrl = /*[[@{*{url}(page = *{number + 1}, size = *{size})}]]*/;
	    var lastUrl = /*[[@{*{url}(page = *{totalPages} - 1, size = *{size})}]]*/;
	    var ajaxArea = /*[[*{ajaxArea}]]*/;
	    var afterSuccess = /*[[*{afterSuccess}]]*/;
	    
	    /* Thymeleaf will return a simple string, then we search if there is a function in window with the same name*/
	    if (afterSuccess != null) {
	    	afterSuccess = window[afterSuccess];
	    }
	    
	    /*  Will Only work when links are shown and not spans */
		linkAjaxGet("#paginationFirst", ajaxArea, firstUrl, null, null, afterSuccess);
	    linkAjaxGet("#paginationPrev", ajaxArea, prevUrl, null, null, afterSuccess);
	    linkAjaxGet("#paginationNext", ajaxArea, nextUrl, null, null, afterSuccess);
	    linkAjaxGet("#paginationLast", ajaxArea, lastUrl, null, null, afterSuccess);

	    /*]]>*/
	</script>
	
</div>

</html>	