<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
	
	<title th:text="${note.description}">Note</title>
	<link th:href="@{/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/star-rating.js}" type="text/javascript"></script>
	
</head>

<section layout:fragment="content" th:object="${note}">
	<h1>Note</h1>

	<div>
		<label> Description : </label><label th:text="*{description}"></label>
	</div>
	
<!-- 	<input id="rating" type="number" class="rating" data-showClear="false" data-showCaption="false" data-ratingClass="rating-fa" data-glyphicon="false" data-size="lg" data-readonly="true" /> -->

<!-- 	<input id="yourRating" type="number" class="rating" data-showClear="false" data-showCaption="false" data-ratingClass="rating-fa" data-glyphicon="false" data-size="md" /> -->
	
	<div id="noteRating" class="star-rating" th:value="*{rating.starRating}"></div>
	<div id="userRating" class="star-rating active" th:value="${userRating}"></div>
	
	<div>
		<a href="/notes/download"
			th:href="@{download/{noteId}(noteId=*{id})}">Download
			note.</a>
	</div>
	
	<div>
		<label> Uploaded By : </label><label th:text="*{createdBy}"></label>
	</div>
	
	<div>
		<label> University : </label><label
			th:text="*{course.department.university}"></label>
	</div>
	
	<div>
		<label> Department : </label><label th:text="*{course.department}"></label>
	</div>
	
	<div>
		<label> Course : </label><label th:text="*{course}"></label>
	</div>

	<section th:replace="comments/displayList :: comments">Comments comments comments..</section>
	
 	<script th:inline="javascript">
		/*<![CDATA[*/

		// Note Star Rating Ajax
	    var ratingUrl = /*[[@{/notes/ajax/rate/{noteId}(noteId=${note.id})}]]*/;
		var yourRating = "#userRating";
		
		$(function () {
			$(yourRating).srOnUpdate(noteStarRatingAjax);
		});
		
		function noteStarRatingAjax(paramValue) {
			var data = {value: paramValue};
			simpleAjax(ratingUrl, 'post', 'html', data, null, starRatingSuccess, starRatingError)
		}
		
		function starRatingSuccess(data) {
			$(yourRating).after("Thanks!");
		}
		
		function starRatingError(data) {
			$(yourRating).after("Sorry an Error has occurred");
		}
	    
		/*]]>*/
	</script>
	
</section>

</html>