<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/layout">
	
<head>
	<title>Notes</title>
	
	<link th:href="@{/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/star-rating.js}" type="text/javascript"></script>
</head>

<section layout:fragment="content">
	
	<div id="notes" th:fragment="notes">
	
		<a href="/notes/add" th:href="@{{courseCode}/notes/add(courseCode=${course.code})}">Add a note.</a>
		
		<div id="noteListContainer"  th:fragment="noteList">
			
			<ul th:if="${pagewrapper.hasContent()}">
				<li th:each="note : ${pagewrapper.content}" th:object="${note}">
					<a href="/notes/5" th:href="@{{courseCode}/notes/{id}(id=${note.id},courseCode=${note.course.code})}"><label th:text="*{description}"></label></a>
					<label th:text="*{createdBy}"></label>
					<label class="star-rating" th:value="*{rating.starRating}"></label>
				</li>
			</ul>
			
			<div th:replace="fragments/paginationbar :: paginationbar"></div>
		</div>
	
	</div>
</section>

</html>
