<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<head>
<title>Add Note</title>
</head>

<section layout:fragment="content" th:fragment="upload">

	<div class="well bs-component">
		<form class="form-horizontal" th:action="@{add}"
			th:object="${uploadFile}" method="post"
			enctype="multipart/form-data">
			<fieldset>
				<legend>Upload a note</legend>

				<div class="alert alert-dismissible alert-danger"
					th:if="${#fields.hasAnyErrors()}">
					<strong>Error!</strong>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
				</div>
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
					<label class="col-lg-2 control-label"> Description </label>
					<div class="col-lg-10">
						<input class="form-control" type="text" th:field="*{description}" th:errorclass="has-error"
							placeholder="Description" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('file')} ? 'has-error'">
					<label class="col-lg-2 control-label"> File </label>
					<div class="col-lg-10">
						<input class="form-control" th:field="*{file}" type="file"
							name="file" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</section>

</html>